*{
	margin: 1px;
	text-align: 
}
.borda,h1{
	margin-top: 160px;


}
.center{
	margin-right : 600px;
	margin-top: 200px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width:769px) {
	/*Apaga a Logo do Site */
	.home{
		display: none;
	}
	#icon1{
		border-radius: 5px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:769px) {
	.pull{
		margin-left: 100px;
	 }
	}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }